/* img{
    width: 100%;
}

.carda{
    width:20%;
    height: 300px;
    background-color: bisque;
    box-shadow: 1px solid grey;
    border-radius: 10px;
    z-index: 1;
    color:red;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.cardb{
    width:20%;
    height: 300px;
    background-color: bisque;
    box-shadow: 1px solid grey;
    border-radius: 10px;
    z-index: 1;
    color:red;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.cardc{
    width:20%;
    height: 300px;
    background-color: bisque;
    box-shadow: 1px solid grey;
    border-radius: 10px;
    z-index: 1;
    color:red;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.cardd{
    width:20%;
    height: 300px;
    background-color: bisque;
    box-shadow: 1px solid grey;
    border-radius: 10px;
    z-index: 1;
    color:red;
    float: left;
    margin-left: 10px;
    text-align: center;
} */